*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  height: 100vh;
  background-color: #8d5185;
  background-image: linear-gradient(315deg, #8d5185 0%, #a1bafe 74%);
  color: white;
}

.header-ctn {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.form-ctn {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-box {
  height: 30px;
  width: 80%;
  border: none;
  padding: 20px 15px;
  font-size: 24px;
}

.btn {
  height: 40px;
  width: 15%;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
  background: white;
  color: #8d5185;
  border: 1px solid #8d5185;
}

.main-ctn {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.weather-ctn {
  width: 80%;
  padding: 50px 0;
  display: inline-flex;
  justify-content: center;
}

.left-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.right-ctn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.forecast-ctn {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  border: 1px solid white;
  margin: 50px 0;
  padding: 20px;
}

.day-forecast-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
