.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cityInputBox {
  height: 3rem;
  font-size: 1.5rem;
  border: 5px solid red;
  border-radius: 0.5rem;
}
.btn-submit {
  margin-left: 10px;
  font-size: 1.25rem;
}

.data-box {
  border: 5px solid aquamarine;
}
.data-css {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
