.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  color: greenyellow;
}
.cityInputBox {
  height: 3rem;
  font-size: 1.5rem;
  border: 5px solid red;
  border-radius: 0.5rem;
}
.btn-submit {
  margin-left: 10px;
  font-size: 1.25rem;
}

.container-flex {
  display: flex;
  background: aquamarine;
  min-height: 10rem;
  width: auto;
  border-radius: 8px;
}
.flex-item {
  color: blueviolet;
  flex-basis: auto;

  /* border: 1px solid red; */
  margin: 5px;
  padding: 5px;
}
