.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: rgb(242, 203, 96);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(18, 17, 17);
}

.input-field {
  min-width: 250px;
  height: 30px;
  font-size: 15px;
  border: 0;
}
.button {
  height: 35px;
  min-width: 100px;
}
